* {
	font-family: monospace;
}
body {
	--panel-height: 40px;
	--editor-width: 450px;
	--terminal-height: 220px;
	--spacing: 5px;
	background-color: #111;
}
@media only screen and (min-width: 1600px) {
	body {
		--editor-width: 550px;
	}
}
@media only screen and (min-height: 850px) {
	body {
		--terminal-height: 300px;
	}
}
#control-panel {
	position: absolute;
	top: var(--spacing);
	left: var(--spacing);
	right: var(--spacing);
	height: calc(var(--panel-height));
	background-color: #aaa;
}
#control-panel .panel-button {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
    display: flex;
	flex-direction: column;
	gap: 2px;
	align-items: center;
	font-size: smaller;
}
#control-panel .panel-button.disabled {
	opacity: 0.25;
	cursor: default;
}
.panel-speed {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.panel-speed div.title,
.panel-speed input
{
	display: inline-block;
	vertical-align: middle;
}
.panel-speed div.title {
	margin-bottom: 2px;
}
#control-panel .code-examples {
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: var(--spacing);
    float: right;
	margin-top: 8px;
	margin-right: 10px;
}
#control-panel .example-button {
	background-color: #555;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}
#control-panel .sorting-controls {
    display: flex;
    flex-direction: row;
    gap: var(--spacing);
    float: right;
    margin-top: 0;
    margin-right: 10px;
    padding: 0 10px;
    border-left: 1px solid #888;
}
#control-panel .sorting-controls .panel-button {
    margin-top: 10px;
    margin-left: 0;
}
#control-panel .sorting-controls .panel-button i {
    color: #2a6;
}
#control-panel .sorting-controls .panel-button.disabled i {
    color: inherit;
}
#editor-section {
	position: absolute;
	left: var(--spacing);
	top: calc(var(--panel-height) + var(--spacing)*2);
	width: var(--editor-width);
	bottom: var(--spacing);
}
#editor-section textarea {
	--padding: 10px;
	--tabsize: 4;
	border: none;
	resize: none;
	padding: var(--padding);
	width: calc(var(--editor-width) - var(--padding)*2);
	background-color: #555;
	height: calc(100% - var(--padding)*2);
	color: #fff;
	-moz-tab-size: var(--tabsize);
	-o-tab-size: var(--tabsize);
	tab-size: var(--tabsize);
	outline: none;
}
#terminal-section {
	position: absolute;
	bottom: var(--spacing);
	left: calc(var(--spacing)*2 + var(--editor-width));
	right: var(--spacing);
	height: var(--terminal-height);
	background-color: #1a1b1a;
	--padding: 10px;
	--input-height: 30px;
	font-size: 0px;
}
#terminal-section textarea {
	border: none;
	resize: none;
	line-height: 150%;
	overflow: hidden;
	width: calc(100% - var(--padding)*2);
	padding-top: var(--padding);
	padding-left: var(--padding);
	padding-right: var(--padding);
	padding-bottom: 0px;
	height: calc(var(--terminal-height) - var(--padding)*3 - var(--input-height));
}
#terminal-section input {
	width: calc(100% - var(--padding)*2);
	border: none;
	padding: var(--padding);
	height: var(--input-height);
}
#terminal-section textarea,
#terminal-section input {
	background-color: transparent;
	color: #6eea6e;
	outline: none;
}
#mem-view-section {
	position: absolute;
	top: calc(var(--panel-height) + var(--spacing)*2);
	left: calc(var(--editor-width) + var(--spacing)*2);
	bottom: calc(var(--terminal-height) + var(--spacing)*2);
	right: var(--spacing);
	overflow: hidden;
	background-color: #222;
}
/** Welcome modal */
#welcome-modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(10,10,10,0.55);
  z-index: 9999;
}
#welcome-modal .modal-box {
  width: min(720px, 92%);
  background: #0f1724;
  color: #e6eef8;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  position: relative;
}
#welcome-modal .modal-close {
  position: absolute;
  top: 10px;
  right: 12px;
  border: none;
  font-size: 1.6rem;
  color: #aebfd6;
  cursor: pointer;
}
#welcome-modal .modal-footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
}
#welcome-modal .modal-checkbox {
    display:flex;
    flex-direction: row;
    gap: var(--spacing);
}
#welcome-modal .button-close-modal {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #2563eb;
  color: #fff;
}
#modal-toggle:not(:checked) + #welcome-modal {
  display: none;
}